body {
    margin:5px;
    width:100%;
    height: 1000px;    
    overflow:auto;
}
#chart {
    width:100%;
    height:800px;
    //display: "flex";
    //border: solid 1px green;
    //margin: 2px;
}
circle {
    stroke: #555;
    stroke-width: 1px;
    opacity: .7;
}
circle:hover {
    stroke:#000;
    opacity:1;
}
.btn-group {
    margin-left: 330px;
}
.label {
    font-size: 10px;
    font-weight: bold;
}
.selection-mode {
    align:'left';
}
.color-legend {
    min-height: 100%; 
    height: 50px; 
    display: flex;
    align-items: center;
    height:34px; 
    font-size:10px;
    font-weight:normal; 
    text-align:center; color:white;
    text-shadow: -1px 1px #000;
}

pre {
    display:none;
}

#year-select, #type-select {
    margin-left: 5px;
}